:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --white: #ffffff;
  --slate: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --green: #31d0aa;
  --light-slate-color: #8e8f99;
  --grey: #808080;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  background-color: var(--white);
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.page-footer {
  padding: 60px;
}

/* Header */
.page-header {
  border-bottom: 1px solid var(--cornflower);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

/* Navigation Bar */
.logo-link {
  text-decoration: none;
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.logo {
  color: var(--iris);
}

.studio {
  color: var(--navy-blue);
}

.nav-menu {
  margin-left: 93px;
}

.nav-menu .page,
.contacts-menu .contact {
  color: var(--navy-blue);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
  display: block;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris);
}

/* Contacts Menu */
.contacts-menu {
  margin-left: auto;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-menu .contact {
  font-weight: 400;
}

/* Hero Section */
.hero {
  padding: 200px 0;
  text-align: center;
}

.bg-hero {
  background-color: var(--navy-blue);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

/* Order Service Button */
.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-family: inherit;
  border-radius: 4px;
}

.button.primary {
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Benefits Section */
.section {
  padding: 120px 0;
}

.section.no-top-padding {
  padding-top: 0;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.benefits .item {
  flex-basis: calc(100% / 4 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits .title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.benefits .description {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin-top: 10px;
}

/* What Are We Doing Section */
.section-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
}

.what-we-do .item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* Team Section */
.bg-team {
  background-color: var(--cloud);
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team .item {
  flex-basis: calc(100% / 4 -30px);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}

.team .name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

/* Footer */
.bg-footer {
  background: var(--navy-blue);
  padding: 100px 0;
}

.studio-footer {
  color: var(--cloud);
}

.footer-description {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 17px;
}

/* CSS for Portfolio html */
/* Filter Buttons */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .space + .space {
  margin-left: 8px;
}

.button.filter {
  background: var(--cloud);
  color: var(--iris);
  line-height: 1.62;
  font-weight: 500;
  padding: 12px 24px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  color: var(--cloud);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project-card {
  flex-basis: calc(100% / 3 -30px);
  margin-top: 30px;
  margin-left: 30px;
}

.substrate {
  padding: 20px 24px;
  border: 1px solid var(--cornflower);
  border-top: none;
  background-color: var(--white);
}

.projects .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navy-blue);
}

.projects .type {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}
